{% extends "base.html" %}
{% block content %}
<h1>Drupal exporter</h1>
{% with messages = get_flashed_messages (with_categories = true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'error' %}
<div class="alert alert-danger" role="alert">
    <p>{{ message }}</p>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
<p>Please log in with your UR domain account <b>without</b> the "ur\" prefix.</p>
<form action="" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control" id="username" name="username">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <div class="row">
            <div class="col-md-3">
                <input type="password" class="form-control" id="password" name="password">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
