{% extends "base.html" %}
{% block content %}
<h1>Drupal exporter</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Amount purchased</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for prod in products %}
        <tr data-href="/simonexport/view/{{ prod.vid }}">
            <td>{{ prod.model }}</td>
            <td>{{ prod.amount }}</td>
            <td>
                <a class="btn btn-default" href="/simonexport/view/{{ prod.vid }}">View details</a>
                <a class="btn btn-primary" href="/simonexport/export/{{ prod.vid }}">Export to CSV</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
