{% extends "base.html" %}
{% block content %}
<h1>Drupal exporter</h1>
<div class="row">
    <div class="col-md-6">
        <h2>{{ product.model }}</h2>
    </div>
    <div class="col-md-2 col-md-offset-4" style="padding-top: 1.5em">
        <a class="btn btn-primary" href="/simonexport">Go Back</a>
    </div>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Order product ID</th>
            <th>Date/time purchased</th>
            <th>Quantity purchased</th>
            <th>Total cost</th>
            <th>Extra data</th>
        </tr>
    </thead>
    <tbody>
        {% for order in product_orders %}
        <tr>
            <td>{{ order['order_product_id'] }}</td>
            <td>{{ order['created'] }}</td>
            <td>{{ order['quantity'] }}</td>
            <td>{{ order['price'] }}</td>
            <td>{{ order['data'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
